<%= render "shared/header" %>
<%= link_to( new_lounge_path, class: 'clounge-btn') do %>
  <span class='clounge-btn-text'>ラウンジを<br>作成する</span>
  <%= image_tag 'koori_ice.png' , size: '185x50' ,class: "clounge-btn-icon" %>
<% end %>

<main>

  <% if user_signed_in? && @lounges.empty? %>
    <p class="message">まずはラウンジを作成しましょう！</p>
  <% elsif user_signed_in? %>
    <p class="message">あなたが作成したラウンジ一覧</p>
    <ul class="lounge-list scroll-item">
      <% @lounges.each do |lounge| %>
        <%= link_to lounge_path(lounge.id) , style: "text-decoration: none" do %>
          <li class="lounge-item">
            <div class="lounge-item-main">
              <div class="lounge-item-main_name">
                <%= lounge.name %>
              </div>
            </div>
            <ul class="lounge-item-sidebar">
              <%= link_to "ラウンジへのリンクをコピーする", "/" %>
              <%= link_to "ラウンジを編集する", edit_lounge_path(lounge.id) %>
              <%= link_to "ラウンジを削除する", lounge_path(lounge.id), method: :delete %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p class="message">ログインをしたら、あなたが作成したラウンジ一覧がここに表示されます</p>
  <% end %>

</main>