<%= render "shared/header" %>
<%= link_to( new_lounge_path, class: 'clounge-btn') do %>
  <span class='clounge-btn-text'>ラウンジを<br>作成する</span>
  <%= image_tag 'koori_ice.png' , size: '185x50' ,class: "clounge-btn-icon" %>
<% end %>

<main>

  <% if user_signed_in? && @lounges.empty? %>
    <p class="message">まずはラウンジを作成しましょう！</p>
  <% elsif user_signed_in? %>
    <p class="message">あなたが作成したラウンジ一覧</p>
    <div class="lounge-list">
      <% @lounges.each do |lounge| %>
        <%= link_to "/" , style: "text-decoration: none" do %>
          <div class="lounge-item">
            <div class="lounge-item_name">
              <%= lounge.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="message">ログインをしたら、あなたが作成したラウンジ一覧がここに表示されます</p>
  <% end %>

</main>