<%= render "shared/header" %>
<%= link_to( new_lounge_path, class: 'clounge-btn') do %>
  <span class='clounge-btn-text'>ラウンジを<br>作成する</span>
  <%= image_tag 'koori_ice.png' , size: '185x50' ,class: "clounge-btn-icon" %>
<% end %>

<main>

  <% if user_signed_in? && @lounges.empty? %>
    <p class="message">まずはラウンジを作成しましょう！</p>

  <%# ラウンジ一覧表示 %>
  <% elsif user_signed_in? %>
    <p class="message">あなたが作成したラウンジ一覧</p>
    <ul class="lounge-list scroll-item">
      <% @lounges.each do |lounge| %>
        <%= link_to lounge_path(lounge.id), class: "no-decoration" do %>
          <li class="lounge-item-wrap">
            <div class="lounge-item">
              <div class="lounge-item-main_name">
                <%= lounge.name %>
              </div>
              <div class="lounge-item-main_contents">
                <div class="lounge-item-main_content">
                  主なメンバー
                </div>
                <div class="lounge-item-main_content">
                  主なトピック
                </div>
              </div>
            </div>
            <div class="lounge-item-sidebar">
              <div class="sidebar-icon-wrap copy-url" data-url="<%= request.protocol %><%= request.host_with_port %><%= lounge_path(lounge.id) %>" >
                  <i class="sidebar-icon fa-solid fa-copy"></i><br>
                  copy url
              </div>
              <div class="sidebar-icon-wrap">
                <%= link_to(edit_lounge_path(lounge.id), class: 'no-decoration') do %>
                  <i class="sidebar-icon fa-solid fa-pen-to-square"></i><br>
                  edit
                <% end %>
              </div>
              <div class="sidebar-icon-wrap">
                <%= link_to(lounge_path(lounge.id), method: :delete, class: 'no-decoration') do %>
                  <i class="sidebar-icon fa-solid fa-trash"></i><br>
                  delete
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

  <% else %>
    <p class="message">ログインをしたら、あなたが作成したラウンジ一覧がここに表示されます</p>
  <% end %>

</main>