<%= render "shared/second-header"%>
<div class="container">
  <%= form_with(url: lounge_password_check_path(@lounge.id), method: "post", local: true) do |form| %>
    <div class='form-header'>
      <h1 class='form-header-text'>
        <span class="remark">
          <%= @lounge.user.nickname %>
        </span>
        の
        <span class="remark">
          <%= @lounge.name %>ラウンジ
        </span>
        に入室しようとしています
      </h1>
    </div>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="form-group">
      <div class='input-group'>
        <label id="password" class="form-text">あいことば を確認します</label>
      </div>
      <%= form.password_field :password, id:"password", class:"input-form", placeholder:"共有された あいことば を入力してください" %>
    </div>
    <div class='btn-space'>
      <%= form.submit "入室" ,class:"red-btn" %>
    </div>
  <% end %>
</div>