<%= render "shared/header" %>
<main>
  
  <div class="main-content">

    <%# ラウンジ概要 %>
    <h1 class="lounge-title">
      <span class="lounge-title_name">
        <%= @lounge.name %>
      </span>
      <span class="lounge-title_text">
        created by
      </span>
      <span class="lounge-title_user">
        <%= @lounge.user.nickname %>
      </span>
    </h1>

    <%# 機能を持ったエリア %>
    <div class="function-wrap">

      <%# メンバーエリア %>
      <div class="side-content">
        <div class="saved-content">
          <h2 class="content-list-title">メンバー一覧</h2>
          <ul class="content-list scroll-item" id="member-list">
            <% @members.each do |member| %>
              <li class="content-list-item">
                <%= member.name %>
                <i class="member-del-btn fa-solid fa-xmark", data-member_id = <%= member.id %>, data-lounge_id = <%= @lounge.id %> ></i>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="form-area">
          <%= form_with url: lounge_members_path(@lounge.id), method: :post, class:"side-content-form", id: "member-form", data: {lounge_id: @lounge.id}, local: true do |f| %>
            <div class="d-flex">
              <%= f.text_field :name, class:"side-content-text", id: "member-text", placeholder:"メンバーを入力" %>
              <%= f.submit "追加" , class:"side-content-btn", id:"member-submit" %>
            </div>
          <% end %>
        </div>
      </div>

      <%# タイマーエリア %>
      <div class="center-content">
        <div class="randam-displays">
        </div>
        <div class="timer-area">
          <div class="timer">
          </div>
        </div>

        <%# ボタン機能はここにまとめる %>
        <div class="timer-btns">
          <div class="timer-btn">
          </div>
          <div class="timer-btn">
          </div>
          <div class="timer-btn">
          </div>
        </div>
        
      </div>

      <%# トピックエリア %>
      <div class="side-content">
        <div class="saved-content">
          <ul class="content-list">トピック一覧
            <li>トピック</li>
            <li>トピック</li>
            <li>トピック</li>
          </ul>
        </div>
        <div class="form-area">
          <%= form_with url: lounge_members_path(@lounge.id), method: :post, class:"side-content-form", id: "topic-form", local: true do |f| %>
            <div class="d-flex">
              <%= f.text_field :name, class:"side-content-text", id: "topic-text", placeholder:"トピックを入力" %>
              <%= f.submit "追加" , class:"side-content-btn", id:"topic-submit" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    
  </div>

</main>